<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickblox.snippets"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".activities.StartActivity"
            android:configChanges="locale|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AuthActivity" />
        <activity android:name=".activities.UsersActivity" />
        <activity android:name=".activities.LocationsActivity" />
        <activity android:name=".activities.CustomObjectsActivity" />
        <activity android:name=".activities.ContentActivity" />
        <activity android:name=".activities.RatingsActivity" />
        <activity android:name=".activities.MessagesActivity" />
        <activity android:name=".activities.ChatActivity" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>