<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickblox.sample.core">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="4b96a3f33893a42103eae91d2166d0c517b833d3" />
</manifest>