<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickblox.simplesample.messages"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".main.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.activities.MessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <!-- GCM (Push Notifications) setup: http://developer.android.com/google/gcm/gs.html#android-app -->

        <!-- 1. Add the following broadcast receiver.
        Notice that android:name in the category tag must be replaced by your application's package name -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.quickblox.simplesample.messages" />
            </intent-filter>
        </receiver>

        <!-- 2. Add the following intent service: -->
        <service android:name=".GCMIntentService" />


    </application>


    <!-- 3. GCM requires Android 2.2 or later -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 4. Declare and use a custom permission so only this application can receive GCM messages.
      This permission must be called my_app_package.permission.C2D_MESSAGE
      (where my_app_package is the package name of your app as defined by the manifest tag),
      otherwise it will not work. -->
    <permission
        android:name="com.quickblox.simplesample.messages.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.quickblox.simplesample.messages.permission.C2D_MESSAGE" />

    <!-- 5. Add the following permissions: -->
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Access to  device info-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest> 
