<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quickblox.content"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="16"/>
    <application android:label="@string/app_name">
        <activity android:name="com.quickblox.content.activities.SplashActivity"
                  android:label="Quick Blox Content Sample"
                  android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.GalleryActivity"
                  android:label="Gallery"
                  android:icon="@drawable/icon">
        </activity>
        <activity android:name="com.quickblox.content.activities.ShowImgActivity"
                  android:label="Show image"
                  android:icon="@drawable/icon">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest> 
