<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quickblox.sample.chat.java">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.quickblox.sample.chat.java.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login_toolbar_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SelectUsersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DialogsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.NewGroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.activity.ChatInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ForwardToActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MessageInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AttachmentImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AttachmentVideoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AppInfoActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".fcm.PushListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.quickblox.messages.services.fcm.QBFcmPushInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="GCM" />

        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id" />

        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4b96a3f33893a42103eae91d2166d0c517b833d3" />
    </application>
</manifest>