<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickblox.customobject"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />
    <application android:label="@string/app_name">
        <activity
            android:name=".activities.SplashActivity"
            android:icon="@drawable/icon"
            android:label="QuickBlox Custom Object Sample"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DisplayNoteListActivity"
            android:icon="@drawable/icon"
            android:label="Notes"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AddNewNoteActivity"
            android:icon="@drawable/icon"
            android:label="Add new note"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ShowNoteActivity"
            android:icon="@drawable/icon"
            android:label="Note"
            android:screenOrientation="portrait"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
