<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quickblox.sample.location"
          android:versionCode="1"
          android:versionName="1.0">

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".activities.SplashActivity"
                  android:label="QuickBlox Location Sample"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MapActivity"
                  android:label="Map"
                  android:screenOrientation="portrait">

        </activity>

        <uses-library android:name="com.google.android.maps"/>

    </application>

    <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest> 
